body{
    font-family: "Montserrat";
    text-align: center;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
    margin: 0 auto 0 auto;
}

h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

p{
    line-height: 2rem;
}

.bald-img{
    width: 150px;
    float: right;
    margin-left: 30px;
}

.simp-img{
    width: 150px;
    float: left;
    margin-right: 30px;
}

.gamer-img{
    width: 150px;
    float: right;
    margin-left: 30px;
}

.container-fluid{
    padding: 3% 15%;
}

#title{
    background-color: #6867AC;
    color: #fff;
}
/* navbar */

.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 100;
}
.navbar-brand{
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: 900;
}

/* intro */

.intro{
    text-align: center;
    margin: 0 auto 0 auto;
    width: 50%;
}


.profile-picture{
    border-radius: 100%;
    width: 18.75rem;
}

/* about me and skills */

.hello{
    margin: auto;
    text-align: center;
    width: 30%;
}
.amethyst{
    padding-bottom: 20px;
    width: 150px;
}

#skills{
    padding-top: 50px;
}

.skills-list{
    margin: auto;
}

.skill-row{
    margin: 100px auto;
    text-align: left;
    width: 50%;
}
