/* navbar */
nav {
  position: fixed;
  background-color: aqua;
  width: 100%;
  z-index: 1;
}

.brand {
  display: inline-block;
}

.nav-item {
  display: inline-block;
}

.test {
  width: 400px;
  height: 1500px;
  background-color: red;
  position: absolute;
  top: 30px;
}
